# Grafana Alerting が参照する Slack Incoming Webhook URL。
# provisioning/alerting/contact-points.yaml から ${SLACK_WEBHOOK_URL} として参照される。
# 実際の値を入れた .env はコミットしないこと(リポジトリ直下の .gitignore で無視される)。
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
